html,
body {
  min-height: 100%;
}

body {
  background-color: #ececec;
  background: linear-gradient(135deg, #0f55e4, #0a3a9c);
  color: #fff;
}


.title {
  margin-left: 33px;
  font-size: 18px;
}

.repl-wrapper {
  position: fixed;
  font-family: monospace;
  font-size: 16px;
  color: #fff;
  width: calc(100% - 3em);
  max-width: 100%;
  max-height: calc(100% - 3em);
  overflow-y: auto;
  margin: 16px;
  padding: 8px 0px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  box-shadow: 0 12px 48px rgba(50, 50, 50, 0.5);
  z-index: 100;
  line-height: 1.5;
}

.repl-wrapper .repl-input {
  font-family: monospace;
  font-size: 16px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  appearance: none;
  resize: none;
  width: 100%;
}

.repl-wrapper .wrapper {
  display: flex;
  align-items: baseline;
  white-space: pre;
  width: 100%;
}

.repl-wrapper .output {
}

.repl-wrapper .input-prompt {
  color: #35fc4f;
  vertical-align: top;
}

.repl-wrapper .output-prompt {
  color: #FC3565;
  vertical-align: top;
}

.repl-wrapper .repl-inner {
  padding: 5px 18px;
}
